* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #ccc;
    color: #333;
}


.iconWhatsapp {
    padding: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px #1b3;
    border-radius: 50%;
    position: fixed;
    left: 1%; 
    bottom: 1%; 
    z-index: 50; 
    width: 50px; 
}

.iconWhatsapp img {
    width: 100%; 
}

@media (max-width: 600px) {
    .iconWhatsapp {
        left: 1%; 
        bottom: 1%;
        width: 40px; 
    }
}


@media (min-width: 600px) {
    .iconWhatsapp {
        bottom: 10px; 
        left: 1%; 
    }
}



/* Header Section */

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
}

.headerOpen-nav-button {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    z-index: 20;
    cursor: pointer;
}

.headerOpen-nav-button:hover {
    opacity: .7;
}

header .headerCheckbox {
    display: none;
}

.navbar {
    display: none;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.navbarList {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}


.btn {
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
}

.btn-1 {
    border: none;
    overflow: hidden;
}

.btn-1::before {
    content: '';
    background-color: #ccc;
    display: block;
    height: 200%;
    width: 150%;
    position: absolute;
    z-index: 10;
    transition: top .8s, left .8s;
    border-radius: 50%;
    top: 85%;
    left: 30%;
}

.btn-1:hover::before {
    top: -120%;
    left: -135%;
    background: linear-gradient(#000 90%, #666);
    box-shadow: 0 0 10px #666;
}

.btn:hover {
    color: #fff;
}


.headerCheckbox:checked~.navbar {
    display: flex;
}

.logo {
    max-width: 100%;
    height: 150px;
}

/* Header Queries */

@container header (min-width: 600px) {
    .navbar {
        display: block;
        position: static;
        width: auto;
        height: auto;
        justify-content: center;
        background-color: #000;
    }

    .navbarList {
        flex-direction: row;
        width: auto;
        height: auto;
        gap: 40px;
        margin-right: 40px;
        background-color: #000;
    }

    .btn {
        font-size: 1rem;
    }

    .headerOpen-nav-button {
        display: none;
    }

    .logo {
        width: 200px;
        margin-left: 50px;
    }
}

/* End of header section */



/* Main section */

main {
    padding: 30px;
}

.section {
    padding: 40px;
    padding-bottom: 80px;
    text-align: center;
    border-bottom: 2px solid #aaa;

    h2,
    p {
        padding-top: 40px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }
}

.section-2 {
    text-align: center;
    padding-bottom: 80px;


    h2 {
        padding: 50px 0;
    }

    h3,
    p {
        padding-top: 12px;
    }
}

.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


.producto img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #666;
    object-fit: cover;
    transition: transform .25s;
}

.producto img:hover {
    transform: translateY(-10px);
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #666;
    width: 300px;
    transition: background .25s;
}

.producto:hover {
    background: radial-gradient(#aaaf, #cccf);
}

.section-3 {
    padding: 50px 0;
    border-top: 2px solid #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-contact {
    padding: 25px;
    width: 50%;
    max-width: 600px;
    background: linear-gradient(#000 90%, #ccc 50%);
    margin: auto;
    border-radius: 220px 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container-contact h2 {
    text-align: center;
    margin: 20px 0;
    color: #ececec;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
}

form label {
    color: #aaa;
    padding-bottom: 5px;
    padding-top: 8px;
    font-size: 18px;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 40px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #ddd;
    font-size: 15px;
}

form button {
    background: linear-gradient(#000 85%, #ccc 50%);
    box-shadow: 0 0 10px #333;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 30%;
    margin: 20px auto;
    border-radius: 10px;
    margin-top: 30px;
}

form button:hover {
    background: #ccc;
    color: #000;
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .container-contact {
        width: 100%;
        padding: 5px;
    }

    form {
        max-width: 100%;
        padding: 25px;
    }

    form button {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .container-contact {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    form label {
        font-size: 15px;
    }

    form input,
    form textarea {
        width: 95%;
        font-size: 12px;
        padding: 10px;
    }

    form button {
        width: 50%;
        padding: 12px 8px;
    }
}


/* End of Main section */


/* Footer section */

footer {
    background-color: #000;
    color: #fff;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}

.icons img {
    margin-right: 20px;
    cursor: pointer;
    width: 30px;
    transition: transform .25s;
}

.icons img:hover {
    transform: translateY(-5px);
}

.container-footer img {
    font-size: 55px;
}

.footerContact h4 {
    text-decoration: none;
    color: #fff;
}

.footerContact p {
    color: #aaa;
}

.email {
    border-top: 2px solid #fff;
    margin-top: 10px;
}

.copyright {
    margin-top: 7%;
    margin-bottom: 0;
    color: #555;
}

.footerContact,
.footerContact h4,
.footerContact p {
    margin-top: 2%;
}

/* Footer Queries */
@media (min-width: 600px) {
    .footerContact h4 {
        font-size: 1.4rem;
    }

    .footerContact p {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 1.2rem;
    }
}